{% extends "template.html" %}
{% block content %}
<div class="w3-container w3-content w3-padding-64" style="max-width:1600px" id="news">
    <div class="w3-light-grey w3-leftbar w3-border-blue">
        <p><strong><a href="#"> MinNa Laboratory Blessing and MOU Signing </a></strong> <br>
            <small>By: <strong>Aurora Cristina A. Manseras </strong></small><br>
            <small>Posted on <strong>December 10, 2021 </strong></small>
        </p>
        <br>
        <p style="text-align:center"><img class="w3-hover-grayscale" src="../static/img/news/1-IMG_4478.jpg" alt="blessing"
                style="max-width: 100%;max-height: 100%;"></p>
        <br><br>
        <div style="text-align:justify; max-width: 98.5%;">
            <p>The blessing of the Mindanao Natural (MinNa) Language Processing (LProc) Research and Development Laboratory was held last
                December 8, 2021 at the University of the Immaculate Conception (UIC), Fr. Selga campus.</p>
            <p>The event started with a mass at 8:30 AM celebrating the Solemnity of the Immaculate Conception of the
                Blessed Virgin Mary. This was officiated by Rev. Fr. Rene Ribac. The blessing took place afterwards
                and was attended by guests and several members of the UIC Community. Also present during this occasion were
                Engr. Howell A. Ong, R&D for Development and Innovation Division of the Davao Region Industry, Energy, and Emerging
                Technologies Research and Development Consortium (DRIEERDC), Department of Science and Technology (DOST) Region XI, and
                Mr. Rod John Pandili, Founder and President of the Lumon Community Association. </p>
            <p style="text-align:center"><img class="w3-hover-grayscale" src="../static/img/news/2-IMG_4475.jpg" alt="blessing2"
                     style="max-width: 70%"> </p>
            <p style="text-align:center"><img class="w3-hover-grayscale" src="../static/img/news/3-IMG_5049-credit.jpg" alt="blessing3"
                     style="max-width: 70%">
                <br><small><strong>Photo credit: Lumon Community Association </strong></small>
            </p>
            <p style="text-align:center"><img class="w3-hover-grayscale" src="../static/img/news/4-IMG_5052-credit.jpg" alt="blessing4"
                     style="max-width: 70%">
                <br><small><strong>Photo credit: Lumon Community Association </strong></small>
            </p>

            <p>A Memorandum of Understanding was also signed between MinNa LProc and the Lumon Community Association, a non-governmental
                organization providing charitable services to transform communities at the grassroots level of society through active
                volunteerism. The MOU is an agreement between MinNa LProc and the Lumon Community to work together as collaborating partners
                in the conduct of the activities and projects of the laboratory. </p>
            <p style="text-align:center"><img class="w3-hover-grayscale" src="../static/img/news/5-IMG_4482.jpg" alt="mou1"
                     style="max-width: 70%"> </p>
            <p style="text-align:center"><img class="w3-hover-grayscale" src="../static/img/news/6-IMG_4491.jpg" alt="mou2"
                     style="max-width: 70%"> </p>
            <p>The MinNa LProc laboratory is funded by DOST–PCIEERD and was established to work on the development of Natural Language
                Processing (NLP) tools, technologies, and distributable digital resources of Mindanao Languages, focusing on the Manobo,
                Mansaka, and Kalagan. </p>
        </div>
    </div>
    <br><br>
</div>

{% endblock %}
