{% extends "template.html" %}
{% block content %}
<div class="w3-container w3-content w3-padding-64" style="max-width:1080px" id="activities">
    <div class="w3-light-grey w3-leftbar w3-border-blue">
        <p><img class="w3-hover-grayscale" src="../static/img/carousel/img_mountains_wide.jpg" alt="tools"
                style="max-width: 100%;max-height: 100%;"></p>
        <p><strong><a href="#"> Title of the Article </a></strong> <br>
            <small>Posted on <strong>September 28, 2021 </strong></small>
        </p>
        <p>This is an example article snippet...</strong></p>
    </div>
    <div class="w3-light-grey w3-leftbar w3-border-blue">
        <strong><a href="#"> Another Title of the Article </a></strong> <br>
        <small>Posted on <strong>September 25, 2021 </strong></small>
        <p>This is another example article snippet...</strong></p>
    </div>
    <div class="w3-light-grey w3-leftbar w3-border-blue">
        <strong><a href="#"> Another Title of the Article </a></strong> <br>
        <small>Posted on <strong>September 25, 2021 </strong></small>
        <p>This is another example article snippet...</strong></p>
    </div>
    <div class="w3-light-grey w3-leftbar w3-border-blue">
        <strong><a href="#"> Another Title of the Article </a></strong> <br>
        <small>Posted on <strong>September 25, 2021 </strong></small>
        <p>This is another example article snippet...</strong></p>
    </div>
</div>

{% endblock %}