<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="/static/img/icons/minna-logo.png" />
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/meghna.css">
    
</head>  

<div class="w3-top">
    <div class="w3-bar w3-indigo w3-card">
      <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
        href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="{{ url_for('index') }}" class="w3-bar-item w3-button w3-padding-large">HOME</a>
      <!--<a href="{{ url_for('activities') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">NEWS AND
        ACTIVITIES</a>-->
      <a href="{{ url_for('index') }}#map" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LANGUAGE
        MAP</a>
      <a href="{{ url_for('news') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">NEWS</a>
      <!--<a href="{{ url_for('people') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">THE TEAM</a>-->
      <!--<a href="{{ url_for('publications') }}"
        class="w3-bar-item w3-button w3-padding-large w3-hide-small">PUBLICATIONS</a>-->
      <a href="{{ url_for('index') }}#contact"
        class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>

             <a href="/people"
        class="w3-bar-item w3-button w3-padding-large w3-hide-small">People</a>
    </div>
  </div>
  <div id="navDemo" class="w3-bar-block w3-indigo w3-hide w3-hide-large w3-hide-medium w3-top"
      style="margin-top:46px">
<!--      <a href="{{ url_for('index') }}#map" class="w3-bar-item w3-button w3-padding-large"-->
<!--        onclick="myFunction()">LANGUAGE MAP</a>-->
<!--      <a href="{{ url_for('news') }}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">NEWS</a>-->
<!--      <a href="{{ url_for('activities') }}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">NEWS-->
<!--        AND-->
<!--        ACTIVITIES</a>-->
<!--      <a href="{{ url_for('people') }}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">THE-->
<!--        TEAM</a>-->
      <a href="{{ url_for('publications') }}" class="w3-bar-item w3-button w3-padding-large"
        onclick="myFunction()">PUBLICATIONS</a>
      <a href="{{ url_for('index') }}#contact" class="w3-bar-item w3-button w3-padding-large"
        onclick="myFunction()">CONTACT</a>
        <a href="{{ url_for('index') }}#technology" class="w3-bar-item w3-button w3-padding-large"
        onclick="myFunction()">TECHNOLOGY</a>



    </div>