{% extends "template.html" %}
{% block content %}
<div class="w3-container w3-content w3-padding-64" style="max-width:1080px" id="news">
    <div class="w3-light-grey w3-leftbar w3-border-blue">
        <p><strong><a href="#"> DOST-PCIEERD to put up 3 new laboratories, includes MinNa LProc </a></strong> <br>
            <small>By: <strong>Aurora Cristina A. Manseras </strong></small><br>
            <small>Posted on <strong>November 1, 2021 </strong></small>
        </p>
        <br>
        <p style="text-align:center"><img class="w3-hover-grayscale" src="../static/img/news/dost-pcieerd-group-photo.png" alt="groupPhoto"
                style="max-width: 100%;max-height: 100%;"></p>
        <small><strong>Photo credit: <a href="https://pcieerd.dost.gov.ph/news/latest-news/475-dost-pcieerd-build-3-new-laboratories-fund-5-new-r-d-projects-in-the-regions">
              DOST-PCIEERD</a> </strong></small>

        <br><br>
        <div style="text-align:justify; max-width: 98.5%;">
            <p>The Department of Science and Technology – Philippine Council for Industry, Energy, and Emerging Technology Research and
              Development (DOST-PCIEERD), under the Institution Development Program (IDP) will be establishing three (3) new research facilities in the country.  </p>
            <p>The new laboratories are located in different regions. The Artificial Intelligence (Al) Research Center for Community
              Development (AIRCoDE) will be put up in Camarines Sur State Polytechnic Colleges, a Microbiology Testing Laboratory (MTL)
              in Partido State University – Goa Campus in Camarines Sur, and the Mindanao Natural (MinNa) Language Processing (LProc)
              Research and Development Laboratory at the University of the Immaculate Conception (UIC) in Davao City.</p>
            <p>MinNa LProc is established for the research and development of tools, technologies, and resources of Mindanao languages. </p>
            <p>Part of the support provided by the IDP is on upgrading and/or setting up of research laboratories and facilities,
              purchasing laboratory equipment as well as developing research capabilities by means of research grants.</p>
            <p>Read the full story <a href="https://pcieerd.dost.gov.ph/news/latest-news/475-dost-pcieerd-build-3-new-laboratories-fund-5-new-r-d-projects-in-the-regions">
              here</a>.</p>
        </div>
    </div>

</div>

{% endblock %}
