{% extends "template.html" %}
{% block content %}
<div class="w3-container w3-content w3-padding-64" style="max-width:1080px" id="news">
    <div class="w3-light-grey w3-leftbar w3-border-blue">
        <p><strong><a href="#"> MinNa LProc secures funding from DOST-PCIEERD </a></strong> <br>
            <small>By: <strong>Aurora Cristina A. Manseras </strong></small><br>
            <small>Posted on <strong>November 1, 2021 </strong></small>
        </p>
        <br>
        <p><img class="w3-hover-grayscale" src="../static/img/icons/minna-logo-1.png" alt="logo"
                style="max-width: 100%;max-height: 100%;"></p>
        <br>
        <div style="text-align:justify; max-width: 98.5%;">
            <p>The Mindanao Natural (MinNa) Language Processing (LProc) Research and Development Laboratory, with the University of the Immaculate Conception (UIC)
              as its implementing agency, was granted funding support by the Department of Science and Technology – Philippine Council for Industry, Energy, and
              Emerging Technology Research and Development (DOST–PCIEERD). </p>
            <p>A Memorandum of Agreement (MOA) was signed between UIC President Sr. Marissa R. Viri, RVM and DOST–PCIEERD Executive Director
              Dr. Enrico C. Paringit on September 23, 2021. The grant, amounting to P5,000,000.00, will be directed towards intensifying research
              and development works to help preserve and protect endangered languages in the Philippines.</p>
            <p>The MinNa LProc laboratory will be equipped with high-end equipment to enable Mindanao Natural Language Processing (NLP) researchers
              to conduct research works focusing on three Mindanao languages, namely Manobo, Mansaka, and Kalagan. </p>
            <p>Read the full story <a href="https://www.uic.edu.ph/uic-gets-dost-support-for-rd-lab/">here</a>.</p>
        </div>
    </div>

</div>

{% endblock %}
