{% extends "template.html" %}
{% block content %}
<div class="w3-container w3-content w3-padding-64" style="max-width:1080px" id="activities">
    <div class="w3-light-grey w3-leftbar w3-border-blue" style="text-align: justify;">
        <h2><a href="{{ url_for('news01')}}"> MinNa LProc secures funding from DOST-PCIEERD </a><br></h2>
        <small>Posted on <strong>November 1, 2021 </strong></small><br><br>
        <p><img src="REFER TO STATIC/IMG - filename:DOST-PCIEERD-PIC-1-1024x468.png" alt="group5"
            style="max-width: 100%;max-height: 100%;"></p>
        <div style="text-align:justify; max-width: 98.5%;">
            <br>
            <p>The Mindanao Natural (MinNa) Language Processing (LProc) Research and Development Laboratory, with the University of the
            Immaculate Conception (UIC) as its implementing agency, was granted funding support by the Department of Science and
            Technology...</strong></p></div>
    </div>
    <br><hr><br>
    <div class="w3-light-grey w3-leftbar w3-border-blue">
        <h2><a href="{{ url_for('news02')}}"> DOST-PCIEERD to put up 3 new laboratories, includes MinNa LProc </a> <br></h2>
        <small>Posted on <strong>November 1, 2021 </strong></small><br><br>
        <p><img src="hREFER TO STATIC/IMG - filename:Group-photo-with-PCIEERDs-IDP-Grantees.png" alt="groupPhoto"
            style="max-width: 100%;max-height: 100%;"></p>
        <div style="text-align:justify; max-width: 98.5%;">
            <br>
            <p>The Department of Science and Technology – Philippine Council for Industry, Energy, and Emerging Technology Research and Development
            (DOST-PCIEERD), under the Institution Development Program (IDP) will be establishing three (3) new research facilities...</strong></p></div>
    </div>

</div>

{% endblock %}
