{% extends "template.html" %}
{% block content %}
<div class="w3-container w3-content w3-padding-64" style="max-width:1080px" id="news">
    <div class="w3-light-grey w3-leftbar w3-border-blue">
        <p><img class="w3-hover-grayscale" src="../static/img/carousel/img_mountains_wide.jpg" alt="tools"
                style="max-width: 100%;max-height: 100%;"></p>
        <p><strong><a href="#"> Title of the Article </a></strong> <br>
            <small>By: <strong>Name of Author </strong></small><br>
            <small>Posted on <strong>September 28, 2021 </strong></small>
        </p>
        <p style="text-align:justify">This is the body of the article. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nunc scelerisque lobortis efficitur. Phasellus in fringilla nibh. Sed dictum lectus lacus.
            Mauris tellus lacus, viverra quis pretium et, mattis quis lacus. Sed nec luctus urna.
            Morbi vulputate enim ac augue semper dignissim. Aenean aliquam pellentesque nisl, nec faucibus
            mi ullamcorper in. In hac habitasse platea dictumst. Donec dictum hendrerit arcu, eget bibendum leo.</strong></p>
    </div>

</div>

{% endblock %}
