{% extends 'template.html' %}
{% block content %}

<style>
        body {
                background-color: #ffffff;
        }
</style>


<br><br>


<br><br>
<style>
        .line-class {
                border-bottom: 1px solid rgb(0, 0, 0);
                width: 100%;
                margin: 0;
                margin-bottom: 20px;
        }
</style>

<div class="container">
        <div class="row">
                <div class="col-md-12">
                        <h3 style="color:#3F51B5;text-align:center;">MEET THE TEAM</h3><br>
                        <p style="text-align:center; font-size: x-large; font-style: italic;">
                                "Teamwork is the ability to work together toward a common vision. The ability to direct
                                individual accomplishments toward organizational objectives. It is the fuel that allows
                                common people to attain uncommon results." </p>
                        <p style="text-align: right;">– Andrew Carnegie</p>
                        <br><br>
                </div>
        </div>

        <!-- <br><br> -->
        <h2 style="color:#3F51B5;">Computing and Technology</h2><br>
        <div class="line-class">

        </div>

        <div class="row ">
                <style>
                        /* responsive */
                        .lm-69 {
                                margin-left: -69px;
                        }

                        .ml-118 {
                                margin-left: 118px;
                        }

                        .ml-50 {
                                margin-left: 50px;
                        }


                        @media only screen and (max-width: 700px) {
                                .r {
                                        display: flex;
                                        justify-content: center;
                                        margin-top: 20px;
                                }


                                .rtext {
                                        display: flex;
                                        justify-content: center;
                                        flex-wrap: wrap;

                                }

                                .lm-69 {
                                        margin-left: 0px;
                                }

                                .ml-118 {
                                        margin-left: 0px;
                                }

                                .ml-50 {
                                        margin-left: 0px;
                                }
                        }
                </style>

                <div class="col-md-3 r">
                        <img src="{{url_for('static', filename='img/people/Adlaon2.JPG')}}"
                                style="width:80%; height: 60%;"><br>
                        <!-- <a href="https://www.facebook.com/dsc0ttishf0ld" > <img src ="./static/img/icons/Socials/fb.png" > </a>
                        <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img src ="./static/img/icons/Socials/linked.png" ></a>
                        <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img src ="./static/img/icons/Socials/insta.png" ></a>
                        <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img src ="./static/img/icons/Socials/twitter.png" ></a> -->
                </div>

                <div class="col-md-3 lm-69  " style=" color:black;">
                        <p class="text-wrap" style="text-align: justify; ">
                                Currently an Assistant Professor at the College of Computer Studies with research
                                interest in Natural Language Processing and Machine Learning. She is the project leader
                                of DOST-PCIEERD funded projects namely, Project iWag and Project MinNa. Aside from her
                                research endeavors she is also actively involved in community works that empower women
                                in the field of computing and technology.
                        </p>
                        <h3 style="text-align: center">Kristine Mae Adlaon</h3>
                        <h5 style="text-align: center">Head, MinNa LProc R&D Lab</h5>
                        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
                                <a href="https://www.facebook.com/dsc0ttishf0ld"> <img
                                                src="./static/img/icons/Socials/fb.png"> </a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/linked.png"></a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/insta.png"></a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/twitter.png"></a>
                        </div>

                </div>

                <div class="col-md-3 r">
                        <img class="ml-118 " src="{{url_for('static', filename='img/people/Manseras2.JPG')}}"
                                style="width:80%; height: 60%;  "><br>
                        <!-- <a href="#" > <img src ="./static/img/icons/Socials/fb.png" style="margin-left: 118px;"> </a>
                                <a href="#" > <img src ="./static/img/icons/Socials/linked.png" style="margin-left: 36px;"></a>
                                <a href="#" > <img src ="./static/img/icons/Socials/insta.png" style=" margin-left: 26px;"></a>
                                <a href="# "> <img src ="./static/img/icons/Socials/twitter.png" style=" margin-right: -100px;"></a> -->
                </div>

                <div class="col-md-3 ml-50" style=" color:black;">
                        <p class="text-wrap" style="text-align: justify">
                                She graduated with a degree of Bachelor of Science in Computer Science and has several
                                years of experience as a teacher at the tertiary level. A competent writer and
                                researcher with interests in natural language processing, image processing, machine
                                learning, and using computer vision for coral and marine life conservation.
                        <h3 style="text-align: center">Aurora Cristina A. Manseras</h3>
                        <h5 style="text-align: center">Project Assistant</h5>
                        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
                                <a href="https://www.facebook.com/aatilano"> <img
                                                src="./static/img/icons/Socials/fb.png"> </a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/linked.png"></a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/insta.png"></a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/twitter.png"></a>
                        </div>

                </div>

        </div>















































        <h2 style="color:#3F51B5;">Language</h2><br>
        <div class="line-class">

        </div>
        <div class="row">

                <div class="col-md-3 r">
                        <img src="{{url_for('static', filename='img/people/peopleimages/Vasay.jpg')}}"
                                style="width:80%; height: 60%;"><br>
                        <!-- <a href="#" style="width:15px;height:15px;"> <img src ="./static/img/icons/Socials/fb.png"> </a>
                                        <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img src ="./static/img/icons/Socials/linked.png"></a>
                                        <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img src ="./static/img/icons/Socials/insta.png"></a>
                                        <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img src ="./static/img/icons/Socials/twitter.png"></a> -->



                </div>

                <div class="col-md-3 lm-69" style=" color:black;">
                        <p class="text-wrap" style="text-align: justify">
                                Been in the teaching service for 15 years; currently Assistant Professor in UIC. Her research interests and publications center mostly on Semantics, Critical Discourse Analysis, Reading and Language Development.

                        <h3 style="text-align: center">Ma. Juliet G. Vasay</h3>
                        <h5 style="text-align: center">Faculty Researcher</h5>
                        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
                                <a href="https://www.facebook.com/dsc0ttishf0ld"> <img
                                                src="./static/img/icons/Socials/fb.png"> </a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/linked.png"></a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/insta.png"></a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/twitter.png"></a>
                        </div>

                </div>

                <div class="col-md-3 r">
                        <img class="ml-118" src="{{url_for('static', filename='img/people/peopleimages/Mamonong.jpg')}}"
                                style="width:80%; height: 60%; "><br>
                        <!-- <a href="#" style="width:15px;height:15px;"> <img src ="./static/img/icons/Socials/fb.png"> </a>
                                        <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img src ="./static/img/icons/Socials/linked.png"></a>
                                        <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img src ="./static/img/icons/Socials/insta.png"></a>
                                        <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img src ="./static/img/icons/Socials/twitter.png"></a> -->

                </div>


                <div class="col-md-3 ml-50" style=" color:black;">
                        <p class="text-wrap" style="text-align: justify">A Field Study Coordinator and Research in
                                Charge of the College
                                of Teacher Education.
                                His expertise in the field of language teaching led him to be tapped as a trainer in
                                General Education courses both in the Senior High School and Tertiary levels and as an
                                English course pack writer of English courses in Davao City.</p>

                        <h3 style="text-align: center">Virgion H. Mamonong, LPT, Ph.D</h3>
                        <h5 style="text-align: center">Faculty Researcher</h5>
                        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
                                <a href="https://www.facebook.com/gionnel"> <img
                                                src="./static/img/icons/Socials/fb.png"> </a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/linked.png"></a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/insta.png"></a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/twitter.png"></a>
                        </div>


                </div>

        </div>

        <!-- <br><br>
                <h2 style="color:#3F51B5;">Graduate Students</h2><br>
                <div class="line-class">
                        
                </div>
                <div class="row">

                        <div class="col-md-3">
                                <img src="{{url_for('static', filename='img/people/Manseras.png')}}"
                                        style="width:200px;height:200px;border-radius:10px;"><br>
                                <a href="#" class="fa fa-facebook"
                                        style="background: #3B5998;color: white;width:15px;height:15px;"></a>
                                <a href="#" class="fa fa-linkedin"
                                        style="background: #007bb5;;color: white;width:15px;height:15px;"></a>
                                <a href="#" class="fa fa-instagram"
                                        style="background: #125688;;color: white;width:15px;height:15px;"></a>
                        </div>

                        <div class="col-md-3" style="margin-left:-69px; color:black;">
                                                        <p>Individuals can do make a difference but certainly they can do nothings lorem lipsm data.Individuals can do make a difference but certainly they can do nothings lorem lipsm data.Individuals can do make a difference but certainly they can do nothings lorem lipsm data.
                                                                <h3>Larra</h3>

                              

                        </div>

                        <div class="col-md-3">
                                <img src="{{url_for('static', filename='img/people/Manseras.png')}}"
                                        style="width:200px;height:200px;border-radius:10px;margin-left:119px;"><br>
                                <a href="#" class="fa fa-facebook"
                                        style="background: #3B5998;color: white;width:15px;height:15px;margin-left:119px;"></a>
                                <a href="#" class="fa fa-linkedin"
                                        style="background: #007bb5;;color: white;width:15px;height:15px;"></a>
                                <a href="#" class="fa fa-instagram"
                                        style="background: #125688;;color: white;width:15px;height:15px;"></a>
                        </div>

                        <div class="col-md-3" style="margin-left:50px; color:black;">
                                                        <p>Individuals can do make a difference but certainly they can do nothings lorem lipsm data.Individuals can do make a difference but certainly they can do nothings lorem lipsm data.Individuals can do make a difference but certainly they can do nothings lorem lipsm data.
                                                                <h3 >Larra</h3>

                               

                        </div>

                </div> -->

        <br><br>
        <h2 style="color:#3F51B5;">UnderGraduate Students</h2><br>
        <div class="line-class">

        </div>
        <div class="row">

                <div class="col-md-3 r">
                        <img src="{{url_for('static', filename='img/people/undergraduates/P1.jpg')}}"
                                style="width:80%; height: 60%;"><br>
                        <!-- <a href="#" style="width:15px;height:15px;"> <img src ="./static/img/icons/Socials/fb.png"> </a>
                                        <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img src ="./static/img/icons/Socials/linked.png"></a>
                                        <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img src ="./static/img/icons/Socials/insta.png"></a>
                                        <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img src ="./static/img/icons/Socials/twitter.png"></a> -->


                </div>

                <div class="col-md-3 lm-69" style=" color:black;">
                        <p class="text-wrap" style="text-align: justify">
                                Hi, I'm Laimee Antonette R. Pisao. I am currently taking up Bachelor of Science in
                                Information Technology - a 4th year student at the University of the Immaculate
                                Conception. I like to play games during my free time.
                               
                        <h3 style="text-align: center">Laimee Pisao</h3>
                        <h5 style="text-align: center">Team Dapok</h5>
                        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
                                <a href="https://www.facebook.com/laimeeantonette"> <img
                                                src="./static/img/icons/Socials/fb.png"> </a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/linked.png"></a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/insta.png"></a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/twitter.png"></a>
                        </div>
                </div>

                <div class="col-md-3 r">
                        <img class="ml-118" src="{{url_for('static', filename='img/people/undergraduates/V1.jpg')}}"
                                style="width:80%; height: 60%;"><br>



                </div>

                <div class="col-md-3 ml-50" style=" color:black;">
                        <p class="text-wrap" style="text-align: justify">I am a gentle, caring and complex kind of
                                person. I am somehow
                                creative, determined, passionate, and can really be talkative when it comes to life
                                experiences, advices or something philosophical. I also love being alone and keep myself
                                busy by watching Kdramas, kvariety shows or kpop mv's.</p>
                        
                        <h3 style="text-align: center">Jan Millena J. Villaflores</h3>
                        <h5 style="text-align: center">Team Dapok</h5>
                        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
                                <a href="https://www.facebook.com/VillafloresJan"> <img
                                                src="./static/img/icons/Socials/fb.png"> </a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/linked.png"></a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/insta.png"></a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/twitter.png"></a>
                        </div>
                </div>

        </div>
        <div class="row " style="margin-top: 50px;">

                <div class="col-md-3 r">
                        <img src="{{url_for('static', filename='img/people/undergraduates/A1.jpg')}}"
                                style="width:80%; height: 60%;"><br>



                </div>

                <div class="col-md-3 lm-69" style=" color:black;">
                        <p class="text-wrap" style="text-align: justify">Hi, I'm Camille Alemania. I am currently
                                studying at the
                                University of the Immaculate Conception, taking up Bachelor of Science in Information
                                Technology. I love to play games during my free time and watch movies on Netflix.
                                
                        <h3 style="text-align: center">Camille Alemania</h3>
                        <h5 style="text-align: center">Team Dapok</h5>
                        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
                                <a href="https://www.facebook.com/camillealemania"> <img
                                                src="./static/img/icons/Socials/fb.png"> </a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/linked.png"></a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/insta.png"></a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/twitter.png"></a>
                        </div>

                </div>

                <div class="col-md-3 r">
                        <img class= "ml-118"src="{{url_for('static', filename='img/people/undergraduates/B1.jpg')}}"
                                style="width:80%; height: 60%; "><br>
                </div>

                




                
              
                <div class="col-md-3 ml-50" style=" color:black;">
                        <p class="text-wrap" style="text-align: justify; ">I am a hardworking person. I always finish the
                                tasks that are being assigned to me right on time. During my free time I play online games and watch
                                movies. I also love to play badminton whenever I have a lot of free time and sometimes I
                                ask my friends to come and play with me.</p>
                        
                        <h3 style="text-align: center">Kent Romans Bandong</h3>
                        <h5 style="text-align: center">Team Alima</h5>
                        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
                                <a href="https://www.facebook.com/kntrmnsRY"> <img
                                                src="./static/img/icons/Socials/fb.png"> </a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/linked.png"></a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/insta.png"></a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/twitter.png"></a>
                        </div>
                </div>
                
                

        </div>
        <div class="row" style="margin-top: 50px;">

                <div class="col-md-3 r">
                        <img src="{{url_for('static', filename='img/people/undergraduates/C1.jpg')}}"
                                style="width:80%; height: 60%;"><br>



                </div>

                <div class="col-md-3 lm-69" style=" color:black;">
                        <p class="text-wrap" style="text-align: justify">Hi, I'm Eirol Jan Coronado. I am currently
                                taking up Bachelor of
                                Science in Information Technology. I like to play games during my free time. I also love
                                cats and dogs to the point that I bought them toys, etc. I love to see my pets being
                                happy all the time.</p>
                        
                        <h3 style="text-align: center">Eirol Jan Coronado</h3>
                        <h5 style="text-align: center">Team Alima</h5>
                        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
                                <a href="https://www.facebook.com/Eiroljan.coroando"> <img
                                                src="./static/img/icons/Socials/fb.png"> </a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/linked.png"></a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/insta.png"></a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/twitter.png"></a>
                        </div>

                </div>

                <div class="col-md-3 r">
                        <img class="ml-118"src="{{url_for('static', filename='img/people/undergraduates/D1.jpg')}}"
                                style="width:80%; height: 60%; "><br>



                </div>

                <div class="col-md-3 ml-50" style=" color:black;">
                        <p class="text-wrap" style="text-align: justify">I am a very kind person to the people who have
                                been good to me. I
                                am a person who loves animals, especially cats and dogs. My hobbies are playing online
                                games and bowling whenever I have a lot of free time. I am currently taking up Bachelor
                                of Science in Information Technology.</p>
                        
                        <h3 style="text-align: center">Jhon Kristoffer U. Delgado</h3>
                        <h5 style="text-align: center">Team Minna</h5>
                        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
                                <a href="https://www.facebook.com/jhonkristoffer.delgado"> <img
                                                src="./static/img/icons/Socials/fb.png"> </a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/linked.png"></a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/insta.png"></a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/twitter.png"></a>
                        </div>
                </div>

        </div>
        <div class="row " style="margin-top: 50px; margin-bottom: 20px;">

                <div class="col-md-3 r">
                        <img src="{{url_for('static', filename='img/people/undergraduates/C2.jpg')}}"
                                style="width:80%; height: 60%;"><br>



                </div>

                <div class="col-md-3 lm-69" style=" color:black;">
                        <p class="text-wrap" style="text-align: justify">I am a capable individual who is constantly
                                looking for new ways
                                to assist me in completing my tasks. In my spare time, I enjoy playing video games
                                online and reading manga and light novels. I also enjoy splurging on food now and then.
                                
                        <h3 style="text-align: center">Blad Ryan Culango</h3>
                        <h5 style="text-align: center">Team Minna</h5>
                        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
                                <a href="https://www.facebook.com/kyra.ice.3/"> <img
                                                src="./static/img/icons/Socials/fb.png"> </a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/linked.png"></a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/insta.png"></a>
                                <a href="#" style="width:15px;height:15px; margin-left: 36px;"> <img
                                                src="./static/img/icons/Socials/twitter.png"></a>
                        </div>

                </div>





        </div>

        <!-- </div> -->

</div>

{% endblock %}
<!-- 
</body>
</html>
 -->